<!DOCTYPE html>
<html>
    <head>
        {{!-- Document Settings --}}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> {{!-- Page Meta --}}
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{{meta_title}}</title>

        <link rel="stylesheet" type="text/css" href="{{asset "css/search.css"}}">
        <link rel="stylesheet" type="text/css" href="{{asset "gitbook/style.css"}}">
        <link rel="stylesheet" type="text/css" href="{{asset "gitbook/website.css"}}">
        <link rel="stylesheet" type="text/css" href="{{asset "plugin/prism.css"}}">
        <style type="text/css">
          .hidden{
            display: none;
          }
          .blog-title{
                margin: 0 auto 16px;
                margin: 0 auto 1rem;
                font-size: 24px;
                font-size: 1.5rem;
                font-weight: 300;
                text-align: center;
          }
          .gitbook-link{
            padding: 15px;
            border-bottom: none;
            color: #364149;
            display: block;
            border-top: 1px solid #dcdcdc;
            margin-top: 10px;
          }
        </style>

        {{!-- Ghost outputs important style and meta data with this tag --}}
        {{ghost_head}}
    </head>

    <body class="{{body_class}}">

        <div class="book">
            <!-- 目录 -->
            <div class="book-summary" id="J-blog-tree">

                <!-- 搜索框 -->
                <div id="book-search-input" role="search">
                  <form>
                    <input type="text" placeholder="搜索" id="search-field">
                  </form>
                </div>

                <nav role="navigation">
                  <ul class="summary" id="J-blog-tree-tags">
                    <li>
                        <h1 class="blog-title"><a href="/">{{@blog.title}}</a></h1>
                    </li>
                    <li class="divider"></li>

                    {{#get "tags" limit="all" order="name" }}
                      {{#foreach tags}}
                        <li class="chapter">
                          <span>{{name}}</span>
                          <!-- J-blog-tree-posts 将对应的文章拷贝到 tag 下 -->
                          <ul class="articles J-blog-tree-posts" data-tag="{{name}}"></ul>
                        </li>
                      {{/foreach}}
                    {{/get}}

                    <li class="divider"></li>

                    <!-- J-untaged-posts 没有分类的文章列表 -->
                    <div class="J-untaged-posts"></div>

                  </ul>
                </nav>

                <!-- J-posts-all-hidden 所有文章列表，不显示在页面上 -->
                <div id="J-posts-all-hidden" class="hidden">
                  {{#get "posts" include="tags" order="published_at desc" }}
                    {{#foreach posts}}
                      <!-- J-post 文章，data-slug 文章标识 -->
                      <li class="chapter J-post" data-slug="{{slug}}">
                        <a href="/{{slug}}/" data-id="{{id}}" title="{{title}}">{{title}}</a>
                        <div class="post-tags hidden">
                          {{#foreach tags}}
                            <span class="J-tag">{{name}}</span>
                          {{/foreach}}
                        </div>
                      </li>
                    {{/foreach}}
                  {{/get}}
                </div>

                <div>
                  <a class="gitbook-link" target="_blank" href="https://github.com/whaios/wwiki">本书使用 wwiki 发布</a>
                </div>
            </div>

            <!-- 文章内容区域 -->
            <div class="book-body">
                <div class="body-inner">
                    <!-- 头部区域 -->
                    <div class="book-header" role="navigation">
                        <h1 style="opacity: 1;">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                            <a href="#">{{meta_title}}</a>
                        </h1>
                    </div>

                    <div class="page-wrapper">
                        <div class="page-inner">
                            <!-- class=open 显示查询结果，否则显示文章内容 -->
                            <div id="book-search-results">
                                <div class="search-noresults">
                                    {{{body}}}
                                </div>

                                <div class="search-results">
                                    <ul class="search-results-list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script type="text/javascript" src="{{asset "js/jquery-3.2.1.min.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/main.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/blog-tree.js"}}"></script>
        <script type="text/javascript" src="{{asset "gitbook/gitbook.js"}}"></script>
        <script type="text/javascript" src="{{asset "gitbook/theme.js"}}"></script>
        <script type="text/javascript" src="{{asset "gitbook/fontsettings.js"}}"></script>
        <script type="text/javascript" src="{{asset "plugin/prism.js"}}"></script>
        <script type="text/javascript" src="{{asset "plugin/jquery.ghosthunter.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/search.js"}}"></script>

        {{ghost_foot}}
    </body>
</html>
